body{
    background-attachment: fixed;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.flex-container {
    width:100vw;
    min-height:100vh;
    background-image:url("1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .navbar{
    width:1200px;
    height:75px;
    margin:auto;
    margin-right:-10rem;
}
.icons{
    width: 200px;
    float: right;
    height: 70px;
}
.menu{
    width: 400px;
    float: 70px;
    height: 70px;
    margin-left:550px;
}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
ul li{
    list-style: none;
    margin-left: 65px;
    margin-top: 27px;
    font-size: 16px;
    background-attachment: fixed;
}
ul li a{
    text-decoration: none;
    font-family: red serif;
    font-weight: bold;
    font-size:1.3rem;
    transition:0.4s ease-in-out;
    color: purple;
}
ul li a:hover{
    color: green;
    zoom:135%;
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*font-weight: bold;*/
    font-size: 20px;
    float: right;
    color:black;
    position: relative;
    top:100px;
    margin-right: 100px;
    margin-left: 50rem;
}
h4{
    font-size: 1.2rem;
}
span{
    color: black;
    font-size:3rem;
}
.social-media
	{
	margin-left:120px;	
    float: right;
    margin-right:30rem;
    margin-top:17rem;
	}
	.social-media a{
		font-size:25px;
		padding:10px;
        border-radius: 50%;
	}
	 a:hover{
		color:green;
	}